/* @font-face {
    font-family: OpenSans;
    src: url("../fonts/OpenSans-Regular.woff");
} */

html,
body {
    background-color: #ffffff;
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.004);
    -moz-osx-font-smoothing: grayscale;
    color: #565a5c;
	/* font-family: 'OpenSans', sans-serif !important; */
}

h1, h2, h3, h4, h5, h6{
	/* font-family: 'OpenSans', sans-serif !important; */
	color: #000 !important;
	margin-bottom: 0 !important;
	margin-top: 0 !important;
}

a{
	text-decoration: none !important;
}

.main-navbar {
	height: 45px;
	background: #000000 !important;	
}

	.main-navbar .arrow-left{
		height: 20px !important;
	}

	.main-navbar .home{
		height: 20px !important;
	}
	
	.main-navbar a{
		color: #fff !important;
		text-transform: capitalize !important;
		font-size: 16px !important;
		height: 100% !important;
	}

.logo {
	width: 40%;
}

/* start animation of logo */
.spinner {
  width: 100px;
  height: 100px;
  margin: 165px 134px;
  top: 0;
  bottom: 0;
  background-color: #8996ea;
  position: absolute;
  border-radius: 100%;  
  z-index: 50;
  -webkit-animation: sk-scaleout 3.0s infinite ease-in-out;
  animation: sk-scaleout 3.0s infinite ease-in-out;
}
.spinner2 {
	width: 200px;
	height: 200px;
	margin: 111px 85px;
	top: 0;
	bottom: 0;
	background-color: #d1d6f5a6;
	position: absolute;
	border-radius: 100%;
	z-index: 50;
	-webkit-animation: sk-scaleout 3.0s infinite ease-in-out;
	animation: sk-scaleout 3.0s infinite ease-in-out;
  }

@-webkit-keyframes sk-scaleout {
  0% { -webkit-transform: scale(0.6) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes sk-scaleout {
  0% { 
    -webkit-transform: scale(0);
	transform: scale(0.5);
	opacity: 0.1;
  } 100% {
    -webkit-transform: scale(1.0);
    transform: scale(2);
    opacity: 0.1;
  }
}

/* end animation of logo */

.search-inline {
	width: 95% !important;
}

.search-input {
	border-radius: 20px !important;
	border: 2px solid #e5e5e5 !important;
}

.search-input:checked {
	background: #596cf0;
}

.btn {
	background: #4928f0 !important;
	border-radius: 30px !important;
	width: 95%;
	font-size: 0.975rem !important;
	text-transform: capitalize !important;
	line-height: 45px !important;
	text-decoration: none !important;
}

.btn2 {
	background: #4928f0 !important;
	border-radius: 30px !important;
	font-size: 0.975rem !important;
	text-transform: capitalize !important;
	line-height: 45px !important;
}

.border-top {
	border-top: 2px solid #e5e5e5;
}

.footer-section h6{
	font-size: 12px;
}

/* search-result.html */
.uk-list ul {
	padding-left: 0 !important;
}

.search-logo {
	width: 35% !important;
}

.no-margin {
	margin-bottom: 0;
}

#my-id svg{
	color: #f4cb4d;
}

.padding-0 { 
	padding-left: 0 !important;
}

.btn-filter {
	border-radius: 47px !important;
	padding: 0 10px !important;
	color: #4928f0 !important;
}

.tab {
	width: 50%;
	padding-left: 0 !important;
	border-color: #4a29f0 !important;
}

	.uk-tab>.uk-active>a {
		border-color: #4a29f0 !important;
	}

.job-list .days {
	color: #7a8286 !important;
}

.job-list h6 {
	margin-top: 0;
	color: #000000 !important;
}

.job-list h5 {
	color: #4928f0 !important;
	font-weight: bold;
}

.all-result li {
	margin-top: 0 !important;
}
	
	.all-result svg {
		height: 16px;
	}

	.all-result li:nth-last-child(2) {
		padding-top: 30px !important;
	}

	.all-result li:nth-last-child(1) {
		padding-top: 30px !important;
	}

	.all-result li:nth-last-child(1) button {
		width: 100%;
		border: 1px solid #4928f0;
		color: #4928f0;
		border-radius: 30px;
		font-weight: bold;
		text-transform: inherit;
	}

	.all-result li:nth-last-child(2) button {
		width: 100%;
		background: #4928f0;
		border-radius: 30px;
		font-weight: bold;
		text-transform: inherit;
	}

/* job.html */

.job-height svg {
	color: #f4cb4d;
}

/* .btn-outside {
	position: fixed;
	bottom: 0;
	width: 100%;
	background-color:rgba(255, 255, 255, 0.5);
}

.fixed-btn {
	position: fixed;
	bottom: 6px;
	right: 10px;
} */

/* apply.html */

.apply-body{
	background: #e2e2e2;
}

.resume h6{
	font-size: 15px;
}

.resume span{
	font-size: 14px;
}

.phone-number span{
	font-size: 14px;
}

/* post-job.html */
.full-modal {
	height: 100%;
}

.login{
	margin-top: 25px !important;
}